/*Approved Leaves*/
.customLeave .sapMeCalendarApproval>.sapMeCalendarMonth>div.sapMeCalendarMonthDays>.sapMeCalendarMonthDay.sapMeCalendarType01 {
    background-color: #8bc34a;
}
.customLeave .sapMeCalendarLegendApproval .sapUIMeLegendColorForType01 {
    background-color: #8BC34A;
}

/*Rejected Leaves*/
.customLeave .sapMeCalendarApproval>.sapMeCalendarMonth>div.sapMeCalendarMonthDays>.sapMeCalendarMonthDay.sapMeCalendarType07 {
    background-color: #FF5722;
}
.customLeave .sapMeCalendarLegendApproval .sapUIMeLegendColorForType07 {
    background-color: #FF5722;
}

/*Pending Approval*/
.customLeave .sapMeCalendarApproval>.sapMeCalendarMonth>div.sapMeCalendarMonthDays>.sapMeCalendarMonthDay.sapMeCalendarType04 {
    background-color: #8bc34a;
}
.customLeave .sapMeCalendarLegendApproval .sapUIMeLegendColorForType04 {
    background-color: #8BC34A;
}


/*Public Holiday*/
.customLeave .sapMeCalendarApproval>.sapMeCalendarMonth>div.sapMeCalendarMonthDays>.sapMeCalendarMonthDay.sapMeCalendarType06 {
    background-color: #ffc107;
}
.customLeave .sapMeCalendarLegendApproval .sapUIMeLegendColorForType06 {
    background-color: #ffc107;
}